cat << 'EOF' > .gitignore
# Terraform ignore rules
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
.terraform.lock.hcl
terraform.rc
.terraformrc

# Python ignore rules
__pycache__/
*.py[cod]
*$py.class
*.zip
lambda.zip
.venv/
env/
venv/

# OS / Editor files
.DS_Store
.vscode/
.idea/
EOF